:root {
    --background-color: rgb(245, 245, 245); /*whitesmoke*/
}
html {
    min-height: 100%;
}
body {
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Inconsolata', sans-serif;
    color: rgb(30 30 30);
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content {
    width: 100%;
    height: 100%;
}

/* -- HEADER / NAV -- */
.header {
    background: #222;
    padding: 0 25px;
}
div.header ul.menu {   
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 5em;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
}
.footer {
    margin-top: 3em;
    background: #222;
    display: flex;
    justify-content: center;
    width: 100%;
}
div.footer ul.menu{
    display: flex;
    padding: 0;
}
div.footer ul.menu li.item {
    padding: 0px 20px;
    order: 2;
    display: block;
    width: auto;
}
a {
    color: white;
    text-decoration: none;
}
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
    order: 1;
    flex: 1;
}
.item {
    padding: 10px 0px 10px 40px;
    order: 2;
    display: block;
    width: auto;
}
li a:hover {
    position: relative;
    overflow: visible;
    z-index: 10;
    transition: .2s;
}
li a:hover:before {
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: 45%;
    z-index: 11;
    border-bottom: 3px solid #f5f5f5;
}

/* -- HOME PAGE -- */
.main-image {
    height: 80%;
    position: relative;
}
.fit {
    border-style: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo-overlay {
    position: absolute;
    width: 70%;
    top: 35%;
    left: 15%;
    z-index: 2;
}
.black-overlay {
    background: rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
}
.copy{
    width: 50%;
    min-width: 230px;
    margin: 0 auto;
}
p {
    padding-bottom: .5em;
    line-height: 1.2em;
}

/* -- BEER MENU -- */
.beer-list {
    min-height: 90vh; 
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
}
.beer-image{
    width: 100%;
    height: 300px;
    background: #05a5be;
}
.beer-item {
    margin: 1em 2em;
    max-width: 50%;
    min-width: 250px;
}
.beer-name {
    margin: 0px;
    font-weight: 900;
    letter-spacing: 1px;
}
.beer-style {
    margin: 0px;
    font-size: .9em;
    font-weight: 700;
    letter-spacing: 1px;
}
.beer-abv {
    margin: 0px;
    font-size: .9em;
    font-weight: 700;
}
.beer-description {
    margin: .8em 0px 0px 0px;
    padding: 0;
}

/* -- CONTACT -- */
.contact {
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}
.map {
    width: 50%;
    min-width: 250px;
    min-height: 250px;
    margin: 4em 2em;
}
iframe {
    width: 100%;
    height: 500px;
    pointer-events: none;
    border: 6px solid #555;
    border-radius: .3em;
}
.info {
    min-width: 250px;
    margin: 1em 2em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
div.info h3{
    margin: .6em 0;
    border-bottom: 2px solid;
}
.hours {
    display: flex;
    flex-flow: row nowrap;
}
.days {
    margin: 0px;
    list-style: none;
    padding: 0px;
}
ul.days li {
    font-weight: 600;
    margin-right: 2em;
    line-height: 1.8em;
}
.times {
    margin: 0px;
    list-style: none;
    padding: 0px;
}
ul.times li {
    line-height: 1.8em;
}